<div id="header">
  <%= render "layouts/header" %>
</div>
<table>
 <thead>
   <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
   </tr>
 </thead>
 <tbody></tbody>
  <% @publics.each do |public| %>
     <tr>
      <td><%= public.id %></td>
      <td><%= link_to public.last_name + public.first_name, admin_customer_path(public) %></td>
      <td><%= public.email %></td>
      <td class>
       <% if public.user_status %>
        <p>退会</p>
       <% else %>
        <p>有効</p>
       <% end %>
      </td>
    </tr>
  <% end %>
 </tbody>
</table>
