/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "slick-theme";
 @import "slick";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
}

.nav-item {
	padding-left: 10px;
}



#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: auto;
    padding-top: auto;
}

.contact {
  margin-left: auto;
}



.p-top__paginate{
    text-align: center;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
}



.bg-header {
  background-image: image_url('banner2.jpg');
  height: 140px;
  background-size: cover;
  background-position: center;
  background-color:rgba(216,150,98,0.6);
  background-blend-mode:lighten;
}


#form2{
position:relative;
max-width:300px;
margin-bottom:20px;
}
#sbox2{
height:30px;
padding:0 10px;
position:absolute;
left:0;
top:0;
border-radius:2px;
outline:0;
background:#eee;
}
#sbtn2{
height:30px;
position:absolute;
left:200px;/*アイコン左右の位置調整*/
top:0;
background:none;
color:#000000;
border:none;
font-size:20px;/*アイコンサイズ*/
}
#sbtn5:hover{
color:#7fbfff;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(gaikan.jpeg);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 60%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 30;
}

.item_body{
  background: url("item_bg.jpg");
  background-size:cover;
  backdrop-filter: blur(2px);
}

.item_title h4 {
  position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

.item_title h4:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #a8d4ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}


.item_parent{
  position: relative; /*基点の位置*/
}

.order-bg {
  background: linear-gradient( 130deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("order_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: bottom;
}

.ty-bg {
  background: linear-gradient( 130deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("ty.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: bottom;
}

.genre_content p {
  position: relative;/*相対位置*/
  padding: 0.5em 0.5em 0.5em 1.5em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: #ff6a6a;/*文字色*/
  border-top: dotted 1px gray;
  border-bottom: dotted 1px gray;
  background: #fffff4;
  width: 135px;
  left: 12px;
}

.genre_content p:before {
  font-family: "Font Awesome 5 Free";/*忘れずに*/
  content: "\f138";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0.25em;/*アイコンの位置*/
  top: 0.5em;/*アイコンの位置*/
  color: #ff6a6a; /*アイコン色*/
}

.customer_body h5{
  padding: 0.4em 0.5em;
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;
  border-bottom: solid 3px #d7d7d7;
}

.customer_body{
  background: url(my_bg2.jpg);
  background-size: cover;
  background-position: top;
  height: auto;
  font-family: serif;
}

.widget-body{
  margin-bottom:50px;

}

.content_complete{
  padding-top:20px;
}

.bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.bootstrapWizard a:hover,.bootstrapWizard a:active,.bootstrapWizard a:focus {
    text-decoration: none
}

.bootstrapWizard li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    padding-left: 0
}

.bootstrapWizard li:before {
    border-style: solid;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent black;
    // border-top: 3px solid #55606E;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 12px;
    right: 1px;
    width: 100%;
    z-index: 1;
}

.cupcolor {
    color: black;
}

.bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%
}

.bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%
}

.bootstrapWizard li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 3px solid #55606E
}

.bootstrapWizard li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px
}

.bootstrapWizard li .step {
    background: #B2B5B9;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    line-height: 12px;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s
}

.bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step {
    background: #0091d9;
    color: #fff;
    font-weight: 700;
    padding: 7px 13px;
    font-size: 15px;
    border-radius: 50%;
    border: 3px solid #55606E
}

.bootstrapWizard li.complete .title,.bootstrapWizard li.active .title {
    color: #2B3D53
}

.bootstrapWizard li .title {
    color: black;
    display: block;
    font-size: 13px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104
}

.wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.wizard-actions li {
    display: inline;
}

.tab-content.transparent {
    background-color: transparent;
}
<<<<<<< HEAD


#form2{
position:relative;
max-width:300px;
margin-bottom:20px;
}
#sbox2{
height:30px;
padding:0 10px;
position:absolute;
left:0;
top:0;
border-radius:2px;
outline:0;
background:#eee;
}
#sbtn2{
height:30px;
position:absolute;
left:200px;/*アイコン左右の位置調整*/
top:0;
background:none;
color:#000000;
border:none;
font-size:20px;/*アイコンサイズ*/
}
#sbtn5:hover{
color:#7fbfff;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(gaikan.jpeg);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 60%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 30;
}

<<<<<<< HEAD
=======
.flash-message {
  color: green;
}
=======
>>>>>>> 893b8de522d4f7035facefa2185f57fe804be5d0
>>>>>>> de0c4e93677eb496b9bbaf148163495df4d9d622
