<table class="table table-borderless genre_box">
  <thead class="borderless">
    <tr>
      <th class="text-center ribbon"><p>ジャンル検索</p></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td class="genre_content p-0">
          <p>
            <%= link_to public_items_path, class:'text-dark font-weight-bold' do %>
              <%= category.name %>
            <% end %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>





